<section id="addmovie">
	<h1>Add a Movie You Own</h1>
	<div>
		<form id="searchform" ng-submit="search(searchfield)">
			<input type="text" autofocus="true" ng-model="searchfield">
			<input type="submit" value="Search">
		</form>
	</div>

	<div class="notification" ng-show="added_movie">
		<p>"{{added_movie.title}}" was added to the library, thank you.</p>
		<button ng-click="hide_added_movie();">OK</button>
	</div>

	<article>
		<div class="gallery">
			<div class="slot" ng-repeat="movie in movies | filter: filternull">
				<a ng-click="saveMovie(movie);">
					<img ng-src="images/ios-plus-blue.svg" width="35px" height="35px">
				</a>
				<img class="poster" ng-src='{{iprefix}}{{movie.poster_path}}{{isuffix}}' alt='{{movie.title}}' title='{{movie.title}}' height="150px" />
			</div>
		</div>
	</article>

</section>


<!-- <article>
	<div class="gallery">
		<img ng-repeat="movie in movies" ng-src='{{iprefix}}{{movie.poster_path}}{{isuffix}}' alt='{{movie.title}}' title='{{movie.title}}' />
	</div>
</article> -->
