<nav id="nav">
	<div class="navbar">
		<ul>
			<li class="active">
				<a href="/#/allmovies">
					<span>All Movies</span>
				</a>
			</li>
			<li>
				<a href="/#/mymovies">
					<span>My Movies</span>
				</a>
			</li>
			<li>
				<a href="/#/mytrades">
					<span>My Trades</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

<section id="allmovies">
	<h2>Tap a movie to trade</h2>
	<p class="add">
		<a href="/#/addmovie">
			<span>Add movie</span>
			<img ng-src="images/ios-plus-blue.svg" width="35px" height="35px">
		</a>
	</p>

	<div class="notification" ng-show="msg">
		<p>{{msg}}</p>
		<button ng-click="hide_msg();">OK</button>
	</div>

	<article>
		<div class="gallery">
			<div class="slot" ng-repeat="movie in movies | orderBy:'movie.title'" ng-click="addRequest(movie, $index);">
				<img class="poster" ng-src="{{iprefix}}{{movie.movie.poster_path}}{{isuffix}}" alt="{{movie.movie.title}}" title="{{movie.movie.title}}"/>
			</div>
		</div>
	</article>

</section>
