<nav id="nav">
	<div class="navbar">
		<ul>
			<li>
				<a href="/#/allmovies">
					<span>All Movies</span>
				</a>
			</li>
			<li>
				<a href="/#/mymovies">
					<span>My Movies</span>
				</a>
			</li>
			<li class="active">
				<a href="/#/mytrades">
					<span>My Trades</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

<section id="mytrades">
	<article>
		<h1>Movie Trade Requests</h1>
		<div class="column">
			<p ng-hide="filteredRequests.length">None.</p>
			<div class="requests" ng-repeat="movie in movies | filter: openRequests as filteredRequests">
				<div class="image">
					<img class="poster" ng-src="{{iprefix}}{{movie.movie.poster_path}}{{isuffix}}" alt="{{movie.movie.title}}" title="{{movie.movie.title}}"/>
				</div>
				<div class="notes">
					<p>From:
						{{movie.loaner.firstName}}</p>
					<p>On:
						<span ng-bind="format(movie.created);"></span>
					</p>
					<button class="accept" ng-click="accept(movie);">Accept</button>
					<button class="decline" ng-click="decline(movie);">Decline</button>
				</div>
			</div>
		</div>

		<h1>Movies I Requested</h1>
		<div class="column">
			<p ng-hide="filteredMyRequests.length">None.</p>
			<div class="requests" ng-repeat="movie in movies | filter: myRequests as filteredMyRequests">
				<div class="image">
					<img class="poster" ng-src="{{iprefix}}{{movie.movie.poster_path}}{{isuffix}}" alt="{{movie.movie.title}}" title="{{movie.movie.title}}"/>
				</div>
				<div class="notes">
					<p>From:
						{{movie.owner.firstName}}</p>
					<p>On:
						<span ng-bind="format(movie.created);"></span>
					</p>
				</div>
			</div>
		</div>

		<h1>Movies I Borrowed</h1>
		<div class="column">
			<p ng-hide="filteredBorrows.length">None.</p>
			<div class="borrowed" ng-repeat="movie in movies | filter: borrowed as filteredBorrows">
				<div class="image">
					<img class="poster" ng-src="{{iprefix}}{{movie.movie.poster_path}}{{isuffix}}" alt="{{movie.movie.title}}" title="{{movie.movie.title}}"/>
				</div>
				<div class="notes">
					<p>From:
						{{movie.owner.firstName}}</p>
					<p>On:
						<span ng-bind="format(movie.created);"></span>
					</p>
					<button ng-click="return(movie);">Return</button>
				</div>
			</div>
		</div>

		<h1>Movies I Lent to Others</h1>
		<div class="column">
			<p ng-hide="filteredLoans.length">None.</p>
			<div class="onloan" ng-repeat="movie in movies | filter: onloan as filteredLoans">
				<div class="image">
					<img class="poster" ng-src="{{iprefix}}{{movie.movie.poster_path}}{{isuffix}}" alt="{{movie.movie.title}}" title="{{movie.movie.title}}"/>
				</div>
				<div class="notes">
					<p>To:
						{{movie.loaner.firstName}}</p>
					<p>On:
						<span ng-bind="format(movie.created);"></span>
					</p>
				</div>
			</div>
		</div>

	</article>

</section>
