<nav id="nav">
	<div class="navbar">
		<ul>
			<li>
				<a href="/#/allmovies">
					<span>All Movies</span>
				</a>
			</li>
			<li class="active">
				<a href="/#/mymovies">
					<span>My Movies</span>
				</a>
			</li>
			<li>
				<a href="/#/mytrades">
					<span>My Trades</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

<section id="mymovies">
	<h2>My Movies</h2>
	<p ng-hide="filteredMovies.length">None at this time.</p>

	<div class="notification" ng-show="msg">
		<p>{{msg}}</p>
		<button ng-click="hide_msg();">OK</button>
	</div>

	<article>
		<div class="gallery">
			<div class="slot" ng-repeat="movie in movies | orderBy:'title' | filter:mineOrLoan as filteredMovies">
				<a ng-click="movieDetails(movie)">
					<img ng-show="borrowed(movie)" ng-src="images/borrowed.png" width="30px" height="30px">
					<img ng-show="onloan(movie)" ng-src="images/onloan.png" width="30px" height="30px">
				</a>
				<img class="poster" ng-src="{{iprefix}}{{movie.movie.poster_path}}{{isuffix}}" alt="{{movie.movie.title}}" title="{{movie.movie.title}}"/>
			</div>
		</div>
	</article>

</section>
