section#addmovie {
	height: 100%;
	position: relative;
	@include container(95%);

	input[type=text] {
		outline: none;
		background-color: $lightgrey;
		border-radius: 4px;
		border: 0;
		font-size: 1.1em;
		// margin-top: 3px;
		padding: 3px;
	}

	input[type=submit] {
		font-size: 1.1em;
		background-color: $gold;
		border-radius: 4px;
		color: $light;
		border: 0;
	}

	input[type=button] {
		font-size: 0.9em;
		background-color: $iosblue;
		border-radius: 4px;
		color: $light;
		border: 0;
		padding: 5px 7px;
	}

	.notification {
		position: absolute;
		z-index: 100;
		width: 80%;
		left: 10%;
		border: 1px solid $lightgrey;
		min-height: 15%;
		top: 35%;
		background-color: rgba(249, 249, 249, 0.9);
		box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
		border-radius: 4px;
		padding: 7px;
		text-align: center;

		p {
			display: block;
		}

		button {
			display: inline-block;
			outline: none;
			background-color: $iosblue;
			color: $light;
			font-size: 0.9em;
			padding: 3px 20px;
			margin-top: 5px;
			border: 0;
			border-radius: 4px;

		}
	}

	article {
		padding-top: 15px;
	}

	.gallery {
		@include clearfix;

		div.slot {
			padding: 5px 0;
			@include border-radius(5px);
			@include gallery(1 of 3);
			display: inline;
			position: relative;

			img.poster {
				z-index: -100;
			}

			a {
				position: absolute;
				right: 5px;
				top: 5px;
			}
		}
//img
	}
//gallery
}
//addmovie
