section#allmovies {

  article {
    text-align: center;
    @include container(95%);
  } //article

  h2 {
    @include span(9);
    font-weight: normal;
    line-height: 100%;
    color: darken($orange, 20);
    padding: 10px 0;
  } //h1

  p.add {
    @include span(last 2);
    text-align: center;
  }

  .gallery {
    @include clearfix;
    img {
      margin: 5px 0;
      @include border-radius(5px);
      @include gallery(1 of 3);
      display: inline;
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
    } //img
  } //gallery
} //welcome
