#allmovies {
  @include background-image(linear-gradient(top, $yellow, $orange));

  article {
    text-align: center;
    @include container(90%);
  } //article

  h1 {
    font-weight: normal;
    line-height: 100%;
    color: darken($orange, 20);
    padding: 10px 0;
  } //h1

  .gallery {
    @include clearfix;
    img {
      padding: 5px 0;
      @include border-radius(5px);
      @include gallery(1 of 3);
      display: inline;
    } //img
  } //gallery
} //welcome
