header {
	@include container;
	background-color: purple;

	.logo {
		padding: 15px 0;
		@include span(4);

		h1 {
			padding-left: 10px;
			color: $gold;
			font-size: 3em;
			font-weight: $heavy;
			line-height: 0.6em;
			@include text-shadow($dark 0 0 20px);
		}
		// h1
	}

	// logo
	.user {
		padding: 27px 0;
		@include span(last 3);
		text-align: center;
		color: $light;
		span {
			border: 1px solid $light;
			padding: 15px;
			border-radius: 50%;
		}
	}
}
//header
