<nav id="nav">
	<div class="navbar">
		<ul>
			<li class="active">
				<a href="/#/allmovies">
					<span>All Movies</span>
				</a>
			</li>
			<li>
				<a href="/#/mymovies">
					<span>My Movies</span>
				</a>
			</li>
			<li>
				<a href="/#/mytrades">
					<span>My Trades</span>
				</a>
			</li>
		</ul>
	</div>

</nav>

<div id="angcontent" ng-view></div>

<script src="bundle.js"></script>
